body {
    margin: 0;
    background-size: 1400px 1200px;
    background-color: #edeef0;
}

table {
  border: 1px solid #666;
    width: 100%;
}

th {
  background: #f8f8f8;
  font-weight: bold;
    padding: 2px;
}
