body {
    margin: 0;
    background-color: #edeef0;
}

#left-panel{
    width: 20% ;
    height: 100% ;
    background-color: grey;
    position:absolute;
}

ul {
        margin: 0; padding: 0; max-width: 100%; list-style-type: none;
}

.group-header{
    background: #D3D3D3;
    position:relative;
    font-size: 1.4em;
}

.movable{
cursor: move;
}

.itm{
     padding-right:5px;
     padding-left:5px;
}

.row {
    margin-top:2px;
    margin-bottom:2px;
}

.group-header:hover .header-icon{
     display: inline-block;
     cursor: pointer;
}

.header-icon {
    display: none;
}

.text-nowrap {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.flexible {
    display: inline-flex;
    height: 100%;
}

.ui-resizable-e{
cursor: ew-resize;
}

.scrollable{
    width: 100%;
    max-height: 500px;
    overflow: scroll;
}

.pull-left.glyphicon {
padding-right: 5px;
}

.glyphicon-plus-sign{
font-size: 1.3em;
}

.list-group , .list-group-item{
border: none;
-webkit-box-shadow: none;
box-shadow: none;
}

.divider:after {
  background: #e0e0e0;
  width: 1px;
  content: "";
  display:block;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  height: 100%;
}

.list-group-item:hover{

}



