body {
    margin: 0;
    background-color: #edeef0;
}

#left-panel{
    width: 20% ;
    height: 100% ;
    background-color: grey;
    position:absolute;
}

ul {
        margin: 0; padding: 0; max-width: 100%; list-style-type: none;
}

.group-header{
    background: #D3D3D3;
    position:relative;
    cursor: move;
    font-size: 1.4em;
}

.itm{
     padding-right:5px;
     padding-left:5px;
}

.row {
    margin-top:2px;
    margin-bottom:2px;
}

.group-header:hover .header-icon{
     display: inline-block;
}

.header-icon {
    display: none;
}

.text-nowrap {
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.flexible {
    display: inline-flex;
    height: 100%;
}


.ui-resizable-e{
cursor: ew-resize;
}


