<!DOCTYPE html>
<html lang="en">


<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>


    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css"/>
    <link type="text/css" rel="stylesheet" href="css/topMenu.css"/>
    <link type="text/css" rel="stylesheet" href="css/sortable.css"/>
</head>


<body>
<ul id="top-menu">
    <li><a href="/groups">Groups</a></li>
    <li><a href="/jobs">Jobs</a></li>
</ul>

<div id="left-panel">
    <div id="panel-header">Header</div>
    <div id="panel-data">
        <ul id="sortable"></ul>
    </div>
</div>

<div id="create-group-form">
    Name: <input type="text" name="name"/> <br/>
    Description: <input type="text" name="description"/> <br/>
    Starting directory: <input type="text" name="startingDirectory"/> <br/>
    <input type="button" id="submit-group" value="Create Group" onclick="submitGroup()"/>
</div>

<div class="container">
    <div class="modal fade in" id="modal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                    <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">


                    <div class="container-fluid">
                        <div class="row col-xs-3" id="modal-list">
                            <div class='container-fluid'>


                            </div>
                        </div>
                        <div class="row col-xs-1"/>
                        <div class="row col-xs-8" id="modal-editor">

                            <form>
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Email address</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1">Password</label>
                                    <input type="password" class="form-control" id="exampleInputPassword1"
                                           placeholder="Password"/>
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <input type="file" id="exampleInputFile"/>
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <select class="form-control">
                                            <option>Override</option>
                                            <option>Append</option>
                                            <option>Iterate</option>
                                        </select>
                                    </label>
                                </div>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </form>
                        </div>
                    </div>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/storage.js"/>
<script src="js/sortable.js"/>
<script src="js/modal.js"/>

</body>


</html>